################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
/server/.vs/server
/server/.vs/ProjectEvaluation
